.card
  .card-header.ch-alt
    %h2
      Postagens
      = link_to 'Novo Post', new_cms_post_path, class: 'btn btn-success pull-right'
      %small Listagem de posts
  .table-responsive{:style => "overflow: hidden; outline: none;", :tabindex => "3"}
    %table#data-table-command.table.table-striped.table-vmiddle.bootgrid-table
      %thead
        %tr
          %th #
          %th Título
          %th Categoria da Postagem
          %th Publicado
          %th data
          %th{:colspan => '3'} Action

      %tbody
        - @cms_posts.each_with_index do |cms_post, i|
          %tr
            %td= i+1
            %td= cms_post.title
            %td= cms_post.post_category.name
            %td= status_helper (cms_post.publish)
            %td= cms_post.created_at.strftime('%d-%m-%Y')
            %td.col-md-2
              = link_to '', edit_cms_post_path(cms_post), class: 'md md-edit btn btn-primary'
              = link_to '', cms_post, :method => :delete, class: 'md md-delete btn btn-danger', :data => { :confirm => 'Are you sure?' }
