%h1 Listing cms_parishes

%table
  %thead
    %tr
      %th Name
      %th Phone
      %th Address
      %th Priest
      %th Content
      %th Publish
      %th Thumb
      %th Thumbnail
      %th Thumbnail active
      %th Resume
      %th
      %th
      %th

  %tbody
    - @cms_parishes.each do |cms_parish|
      %tr
        %td= cms_parish.name
        %td= cms_parish.phone
        %td= cms_parish.address
        %td= cms_parish.priest
        %td= cms_parish.content
        %td= cms_parish.publish
        %td= cms_parish.thumb
        %td= cms_parish.thumbnail
        %td= cms_parish.thumbnail_active
        %td= cms_parish.resume
        %td= link_to 'Show', cms_parish
        %td= link_to 'Edit', edit_cms_parish_path(cms_parish)
        %td= link_to 'Destroy', cms_parish, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Parish', new_cms_parish_path
