.card
  .card-header.ch-alt
    %h2
      Paróquias
      = link_to 'Novo Post', new_cms_parish_path, class: 'btn btn-success pull-right'
      %small Listagem de paróquias
  .table-responsive{:style => "overflow: hidden; outline: none;", :tabindex => "3"}
    %table#data-table-command.table.table-striped.table-vmiddle.bootgrid-table
      %thead
        %tr
          %th #
          %th Nome
          %th Publicado
          %th Data
          %th{:colspan => '3'} Action

      %tbody
        - @cms_parishes.each_with_index do |cms_parish, i|
          %tr
            %td= i+1
            %td= cms_parish.name
            %td= status_helper (cms_parish.publish)
            %td= cms_parish.created_at.strftime('%d-%m-%Y')
            %td.col-md-2
              = link_to '', edit_cms_parish_path(cms_parish), class: 'md md-edit btn btn-primary'
              = link_to '', cms_parish, :method => :delete, class: 'md md-delete btn btn-danger', :data => { :confirm => 'Are you sure?' }
