.mask-l{:style => "background-color: #fff; width: 100%; height: 100%; position: fixed; top: 0; left:0; z-index: 9999999;"}
= render 'content/home/partials/nav'
= render 'content/home/partials/slider'
%section.b-infoblock.f-center.b-diagonal-line-bg-light
  .container
    %h2.f-primary-l
      Acontece na
      %strong.f-primary-b Igreja
    %p.b-desc-section.f-desc-section.f-secondary-l.f-small Reprehendunt in, quo ea esse civibus suavitate. Pro gubergren persecuti moderatius, id laudem vix, an eos. Adversarium principes.
    .b-some-examples.f-some-examples.b-some-examples-secondary.f-some-examples-secondary.f-secondary.row
      - post_each('teste',3) do |p|
        .col-sm-4.col-xs-12
          / b-btn.f-btn.b-btn-light.f-btn-light.info
          .b-some-examples__item.b-bg-transparent.f-some-examples__item
            .b-some-examples__item_img.view.view-sixth
              - if p.thumb?
                = image_tag p.thumb, height:'194', width:'370'
              - else
                %img.j-data-element{:alt => "", "data-animate" => "fadeInDown", "data-retina" => "", :src => "img/homepage/example_4.jpg"}/
              .b-item-hover-action.f-center.mask
                .b-item-hover-action__inner
                  .b-item-hover-action__inner-btn_group
                    = link_to content_post_path(p), :class => 'b-btn f-btn b-btn-light f-btn-light info' do
                      %i.fa.fa-link
            .b-some-examples__item_info
              .b-some-examples__item_info_level.b-some-examples__item_name.f-some-examples__item_name.f-primary-b
                = link_to "#{p.title}", content_post_path(p)
              .b-some-examples__item_info_level.b-some-examples__item_description.f-some-examples__item_description
                = p.resume.html_safe
              = link_to content_post_path(p), :class => 'f-primary-b f-more' do
                %i.fa.fa-arrow-circle-right
                  Leia Mais
= render 'content/home/partials/paroquias'
