%aside#sidebar
  .sidebar-inner
    .si-inner
      .profile-menu
        %a{:href => ""}
          .profile-pic
            .lv-avatar.bgm-blue{"style": 'margin-bottom: 20px'}
              João
          .profile-info
            %b
              João
            %i.md.md-arrow-drop-down
        %ul.main-menu
          %li
            = link_to "<i class='md md-person'></i> Meu perfil".html_safe, '#'
          %li
            = link_to "<i class='md md-settings-input-antenna'></i> Configurações".html_safe, "person.profile_path(current_user)"
          %li
            = link_to "<i class='md md-history'></i> Sair".html_safe, destroy_user_session_path, method: :delete
      %ul.main-menu
        %li
          = link_to "<i class='md   md-turned-in'></i> Posts".html_safe, cms_posts_path
        %li
          = link_to "<i class='md   md-turned-in'></i> Páginas".html_safe, cms_pages_path
        %li.sub-menu{class: ('toggled active' if params[:module] == "cms")}
          %a{:href => ""}
            %i.md.md-public>
            Categorias
          %ul{style: ('display:block;' if params[:module] == "cms")}
            %li
              = link_to "Posts", cms_post_categories_path
            %li
              = link_to "Páginas", cms_page_categories_path
